html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

/* First Container */

.first-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 88);
    color: white;
    padding: 0 100px 100px;
    row-gap: 80px;
}

/* Header code */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo {
    font-size: x-large;
    font-weight: bolder;
}

.header-links {
    display: flex;
    column-gap: 10px;
}

.header-links li {
    list-style-type: none;
    font-weight: bold;
}

.header-links li a {
    text-decoration: none;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
}

.header-links a:hover {
    background-color: rgb(23, 146, 105);
    
}

.header-links a:active {
    background-color: rgb(95, 187, 8);
}

/* Hero-block code */
.hero-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero-text */
.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.hero-text .hero-title {
    font-size: 50px;
    font-weight: bolder;
    flex: 1 1 auto;
}

/* Hero-img */

.hero-img {
    width: 1500px;
    /* max-height: 1000px; */
    flex: 1 1 auto;
    display: flex;
    border: 5px solid rgba(255, 255, 255, 0.158);
}
.hero-img img {
    max-width: 100%;
    height:min-content;
    flex: 1 1 0;
    
}
