html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}


/* First Container */

.first-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 88);
    color: white;
    padding: 0 150px;
}

/* Header code */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo {
    font-size: large;
    font-weight: bolder;
}

.header-links {
    display: flex;
    column-gap: 20px;
}

.header-links li {
    list-style-type: none;
}

.header-links li a {
    text-decoration: none;
    color: white;
}


.hero-block {
    display: flex;
}

.hero-text {
    display: flex;
    flex-direction: column;
}