html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

body {
    margin: 0px;
}
/* First Container */

.first-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 88);
    color: white;
    padding: 10px 100px 100px;
    row-gap: 80px;
}

/* Header code */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo {
    font-size: x-large;
    font-weight: bolder;
}

.header-links {
    display: flex;
    column-gap: 15px;
}

.header-links li {
    list-style-type: none;
    font-weight: bold;
}

.header-links li a {
    text-decoration: none;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
}

.header-links a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    
}

.header-links a:active {
    background-color: rgb(255, 237, 138);
}

/* Hero-block code */
.hero-block {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

/* Hero-text */
.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    row-gap: 10px;
}

.hero-text .hero-title {
    font-size: 50px;
    font-weight: bolder;
    flex: 1 1 auto;
}

.hero-block a {
    background-color: rgb(30, 153, 224);
    color: white;
    border: 0;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    width: max-content;
    text-decoration: none;
}
.hero-block a:hover {
    background-color: white;
    color:rgb(30, 153, 224);
}

.hero-block a:active {
    background-color: rgb(255, 237, 138);
}


/* Hero-img */

.hero-img {
    width: 1500px;
    flex: 1 1 auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.hero-img img {
    width: 100%;
    height:min-content;
    flex: 1 1 0;
    
}



/* Second Container */
.second-container{
    display: flex;
    justify-content: center;
}
.second-container .sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine;   debugging only */
    width: 1200px;
    flex-grow: 0;
    padding: 60px 80px;
    row-gap: 40px;


}

.second-container .images {
    display: flex;
    column-gap: 10px;
}

.images div {
    /* width: 140px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
    /* border: 2px solid black; debugging only */
}

.images img {
    width: 100%;
    border-radius: 10px;

}

.second-container .images img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.second-container p {
    font-family: monospace;
    text-align: center;
}


.sub-container .title {
    font-size: 35px;
    font-family: monospace;
    font-weight: bolder;

}

/* Third-container */
.third-container {
    display: flex;
    justify-content: center;
    row-gap: 10px;
    background-color: rgba(223, 223, 223, 0.425);
    padding: 80px;
}

.third-container .sub-container {
    /* background-color: antiquewhite; for debugging only */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.third-container .sub-container .quote {
    font-family: monospace;
    font-size: large;
}


.third-container .sub-container .author {
    align-self: flex-end;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
}

/*Fourth-container*/
.fourth-container {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    color: white;
}

.fourth-container .sub-container{
    display: flex;
    flex-grow: 1;
    /* column-gap: 80px; */
    padding: 30px 60px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(17, 108, 245, 0.863);
    border-radius: 10px;
}

.fourth-container .left {
    display: flex;
    flex-direction: column;
    
}

.fourth-container .left .call {
    font-size: large;
    font-weight: bolder;
}

.fourth-container .right a {
    background-color: rgba(70, 187, 255, 0.952);
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 4px 20px;
}

.fourth-container .right a:hover {
    background-color: white;
    color: black;
}

/* footer */
.footer-container {
    display: flex;
    justify-content: center;
    background-color: rgb(33, 33, 88);
    color:white;
    padding: 30px 0;
}

.footer-container .footer {
    font-family: monospace;
    font-size: large;
}